

<%= form_with(model: group) do |form| %>
  <div class="myclass">
  <%= link_to "Back", groups_path, class:"back-link" %>
    <p>ADD CATEGORY</p>
    <div >
    <%= link_to "Log Out", destroy_user_session_path,  class: "c-actions" %>
    </div>
  </div>

  <% if group.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
        <% group.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.text_field :name,  placeholder: 'Name', class:"field-login" %>
  </div>

  <div class="special-image-upload">
    <%= form.label :Image, style: "display: block" %>
    <%= form.file_field :icon, class:"field-login" %>
  </div>

  <div>
    <%= form.submit "submit", class:"btn btn-primary my-btn2" %>
  </div>
<% end %>
